body{
  font-family: 'Roboto', sans-serif;
  max-width: none;
}

@media( max-width:768px ){
  .header-top.group .container{ padding-right: 0;}
  .top-navigation{ font-size: 0.95em;}
}

/* WPML IN HEADER */
.wpml-switcher .wpml-ls-legacy-list-horizontal{ padding: 2px;}
.wpml-switcher .wpml-ls-legacy-list-horizontal a{ border-bottom: none; }
.wpml-switcher, .search-bar{ margin-top: 30px; }

@media(min-width: 44em){
  .wpml-switcher, .search-bar{ margin-top: 0px; }
  .wpml-switcher h5{ display: none;}
	.wpml-switcher{ float: right; }
	.wpml-switcher .wpml-ls-legacy-list-horizontal a{
  	color: #fff;
  	font-size: 0.875em;
	}
}
/* WPML IN HEADER */

/* FOOTER */
.prefooter{
  background: #494545;
  color: #fff;
  padding:30px 0 0;
  font-size: 0.95em;
}
.prefooter .col{ padding: 0 1em;}
.prefooter a[href]{
  border: none;
  color: #fff;
}
.bottom-footer .copyright{ margin-bottom: 0;}
@media( max-width: 768px ){
  .prefooter .col{ padding: 0;}
}
/* FOOTER */


.site{ max-width: 100%; }
.menu{
  list-style: none;
  padding: 0;
  margin: 0;
}


.menu > li > a {
  text-decoration: none;
  border-bottom: none;
}

@media (min-width: 44em){
  .menu > li > a { color: #fff; }
  .search-bar{ padding-right: 0; }
}

/* global */
h1, h2, h3, h4, h5, h6{
  font-family: 'Merriweather', serif;
  line-height: 1.3;
}

h4{
  font-size: 1.6em;
}

/* global */


/* primary menu */
@media (min-width: 44em){
  .main-navigation .sub-menu-wrap{
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    z-index: 10;
    background: #595959;
    display: none;
  }
  .main-navigation .menu>li.current-menu-item .sub-menu-wrap,
  .main-navigation .menu>li.current-menu-parent .sub-menu-wrap,
  .main-navigation .menu>li.current-page-ancestor .sub-menu-wrap{
    display: block;
  }
  .main-navigation .sub-menu{
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    left: auto;
    right: auto;
    top: auto;
    background: none;
    padding: 0 20px;
    font-size: 0.8125em;
  }
}
/* primary menu */

/* 3 column grid */
.article-content h4{
  font-family: "Merriweather", serif;
  line-height: 1.3;
}

.article-list.three-list,
.article-list.two-list,
.secondary-feature{
  display: flex;
  flex-wrap: wrap;
}

.article-list.three-list li,
.article-list.two-list li{
  float: none;
  margin: 0;
  display: flex;
  padding: 0.5em;
  width: 100%;
}

/*
.article-list.three-list li p{
  display: none !important;
}
*/

@media all and (min-width: 60em) {
  .article-list.three-list li{
    width: 33.33%;
  }
  .article-list.two-list li{
    width: 50%;
  }
}

.article-list span.content-type{
  background: #08438c !important;
}
.article-list a:hover{
  border-color: #08438c !important;
}
.article-content strong, .feature-content strong{
  color: #999;
}

.article-list .article-featured-image{
  max-height: 160px;
  overflow: hidden;
}

.feature-content a[href]{
  border: none;
  color: inherit;
}

.team-list a[href], .team-list a[href]:hover{
  border: none;
  color: inherit;
}
.col-4.team-list .team-excerpt,.col-4.team-list .link{ display: none;}
.col-4.team-list h4{ margin:0; font-size: 1.3em;}
.col-4.team-list .picture, .col-4.team-list .team-content{ max-height: 200px; max-width: 200px; overflow: hidden; margin-left: auto; margin-right: auto;}
.col-4.team-list .picture{ margin-bottom: 20px;  border-radius: 100px;}




.secondary-feature{ margin-bottom: 0; padding: 0.5em; background: none;}
.secondary-feature .feature-content,
.secondary-feature .feature-image{
  float: none;
  position: relative;
}
.secondary-feature .feature-content{ background: #fff; width: 100%; }
.secondary-feature .feature-image{ max-height: 250px; overflow: hidden;}
.secondary-feature .feature-content .text-muted{ font-weight: normal;}
@media(min-width: 62.5em){
  .secondary-feature .feature-image{ width: 40%; }
  .secondary-feature .feature-content{ width: 60%; }
}

/* 3 column grid */

/* single post */
.single-campaign .post-thumbnail,
.single-legal .post-thumbnail,
.single-news .post-thumbnail,
.single-commentary .post-thumbnail{
  max-height: 300px;
  overflow: hidden;
}
.single-campaign .article-header,
.single-legal .article-header,
.single-news .article-header,
.single-commentary .article-header{
  top: 0;
  left: 0;
  position: relative;
  margin: -120px auto 60px;
  padding: 2.25em;
  -webkit-transform: none;
  transform: none;
  background: #08438c;
  max-width: 42em;
}
.single-campaign .article-header .entry-title,
.single-legal .article-header .entry-title,
.single-news .article-header .entry-title,
.single-commentary .article-header .entry-title{
  font-family: "Merriweather";
  font-size: 2.25em;
  margin-bottom: 15px;
}
.single-campaign .article-header, .single-news .article-header{
  background: #08438c;
}
.single-commentary .article-header{
  background: #d9272d;
}
.single-legal .article-header{
  background: #e6b614;
}

.single-legal .article-header h5{
  font-family: "Roboto", sans-serif;
}

.summary{
  padding: 1.5em;
  background: #efefef;
  border: 1px solid #efefef;
}
.summary h2{
  font-size: 1.2em;
  text-transform: none;
  letter-spacing: none;
  color: #555;
  font-family: "Merriweather", serif;
}
/* single post */


/* ISSUES & REGIONS */
.tax-issues .full-banner,.tax-regions .full-banner{ max-height: 400px; }
.tax-issues .banner-content, .tax-regions .banner-content{ background: #08438c; }
.tax-issues .banner-content h1,
.tax-regions .banner-content h1{
  margin-top: 0;
  margin-bottom: 15px;
}
.tax-issues .banner-content p,
.tax-regions .banner-content p{
  line-height: 1.3;
  margin: 0;
  color: #ddd;
}
/* ISSUES & REGIONS */

/* RESOURCES */
.resource-header h5,
.resource-list .resource-item h5{
  letter-spacing: none;
  font-family: "Roboto", sans-serif;
}
.resource-list .resource-item{
  border: 1px solid #ddd;
}
.resource-header .two-third p{
  text-align: justify;
}
/* RESOURCES */

/* PAGES - DONATE, OLD SINGLE CAMPAIGN */
body.page .full-image,
.single-campaign .full-image{
  max-height: 400px;
  overflow: hidden;
}
body.page .image-overlay,
.single-campaign .image-overlay{
  background: #ffffffaa;
  line-height: 1.35;
  color: #333;
}
body.page .image-overlay h2,
.single-campaign .image-overlay h2{
  margin-bottom: 15px;
}
/* PAGES - DONATE */

/* HELPER CLASSES */
.row{ padding: 50px 0; }
.col-2, .col-13, .col-3, .col-4, .col-31{
  display: flex;
  flex-wrap: wrap;
}
.col{
  margin: 0;
  padding: 1em;
  width: 100%;
}
@media all and (min-width: 44em) {
  .col-4 .col{
    width: 50%;
  }
}
@media all and (min-width: 60em) {
  .col-13 .col:nth-child( odd ), .col-31 .col:nth-child( even ){ width: 35%; }
  .col-13 .col:nth-child( even ), .col-31 .col:nth-child( odd ){ width: 65%; }
  .col-2 .col{ width: 50%; }
  .col-3 .col{ width: 33.33%; }
  .col-4 .col{ width: 25%;}
}
.text-muted{ color: #777; }
.uppercase{
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
}
.narrow-text{ line-height: 1.4;}
.text-center{ text-align: center; }
.no-margin{ margin: 0;}
.no-margin-top{ margin-top: 0;}
.border-bottom{
  padding-bottom: 20px;
  border-bottom: #DDD solid 1px;
}
.bold{ font-weight: bold; }

/* CONTAINER */
.container{
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}
@media( min-width: 768px ){
  .container{ max-width: 1100px; }
}

@media( min-width: 1600px ){
  .container{ max-width: 1600px; }
}


.list-unstyled{
  list-style: none;
  padding: 0;
}
/* HELPER CLASSES */

/* MAP MARKER ICONS */
.marker-cluster-small{ background-color: #08438c99 !important; }
.marker-cluster-small div{
  background-color: #08438c;
  color: #fff;
}
/* MAP MARKER ICONS */

/* SOW BUTTONS OVERRIDDEN HERE */
a[href].sp-btn{
	background: #4b6cb7;
  border-color: #4b6cb7;
  font-size: 20px;
  font-family: "Merriweather", serif;
}
a[href].sp-btn:hover{
	color: #4b6cb7;
}
@media( max-width:768px ){
  a[href].sp-btn{ font-size: 17px; }
}
/* SOW BUTTONS OVERRIDDEN HERE */

/* Affirm Dignity Newsletter Form*/
.affirm-form li{ display: inline-block; }
.affirm-form{
  width: 80%;
  margin-left: 0;
  margin-right: 0;
}
.affirm-form li > div.ginput_container > input[type="text"]{ width: 100%;}
.affirm-form li:nth-child(5),
.affirm-form li:nth-child(6),
.affirm-form .gform_footer,
.affirm-form li:nth-child(5) > div.ginput_container,
.affirm-form li:nth-child(5) > div.ginput_container > ul{
	margin: 0 !important;
}
.affirm-form li:nth-child(5){ width: 100% !important; }
.affirm-form li:nth-child(5) > div.ginput_container > ul > li{ width: 100%;}
.affirm-form li:nth-child(5) > div.ginput_container > ul > li > label{ font-weight: 500;}
.affirm-form li:nth-child(6) > p{
  margin: 0;
  color: #8c836d;
  font-size: 14px;
}
.affirm-form input[type="submit"]{
  background: #fff;
  padding: 8px 40px;
  border: none;
  font-size: 20px;
}
@media(max-width: 768px){
  .affirm-form{ width: 100%; }
  .affirm-form li{ display: block;}
}
/* Affirm Dignity Newsletter Form*/

/* VIDEO POPUP */
.video-popup{ position: relative; }
.video-popup .video{font-size: 0;}
.video-popup a{
	padding-bottom: 0;
  border-bottom: 0;
}
.video-popup .overlay-text, .video-popup .overlay-text a{
	position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.video-popup .overlay-text{
	background-color: #FFFFFFCC;
  display: none;
}
.video-popup .overlay-text a{
	display: block;
  color: #333;
  padding: 10px 20px;
}
.video-popup:hover .overlay-text{ display: block;}
/* VIDEO POPUP */
