.site{
  max-width: 100%;
}
.menu{
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu > li > a {
  text-decoration: none;
  color: #fff;
  border-bottom: none;
}

@media(max-width:768px){
  .menu > li > a {
    color: #000;
  }
}
